#erro {
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
    background-color: beige;
}

.table{
    margin-left: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0  10px black;
    margin-top: 1em;
  
    min-width: 200px;
    /* border-spacing: 10px; */
    border: 1px solid black;
}